<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contas à Receber</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Categoria</ion-label>
          <ion-select
            placeholder="Selecione a Categoria"
            [(ngModel)]="form.category_id"
            interface="action-sheet"
          >
            <ion-select-option *ngFor="let item of categories" [value]="item.id"
              >{{item.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Data Lançto</ion-label>
          <ion-datetime
            displayFormat="YYYY MM DD"
            pickerFormat="YYYY-MM-DD"
            [(ngModel)]="form.date_launch"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="form.name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Valor</ion-label>
          <ion-input
            autocomplete="off"
            type="number"
            [(ngModel)]="form.value"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Status</ion-label>
          <ion-select
            placeholder="Selecione o Status"
            [(ngModel)]="form.status"
            interface="action-sheet"
          >
            <ion-select-option [value]="1">Pago</ion-select-option>
            <ion-select-option [value]="0">Não Pago</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button
          shape="round"
          color="primary"
          (click)="save()"
          *ngIf="!editable"
        >
          Salvar
        </ion-button>
        <ion-button
          shape="round"
          color="primary"
          (click)="update()"
          *ngIf="editable"
        >
          Alterar
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of bill_receives">
    <ion-card-content>
      <ion-card-title>
        {{item.category.name}}
        <p>{{item.name}}</p>
      </ion-card-title>
      <p>
        {{item.date_launch}}
      </p>
      <p>
        {{item.value}}
      </p>
      <p>Status: {{ item.status == '1' ? 'Pago' : 'Não Pago'}}</p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <ion-button expand="block" item-end (click)="edit(item.id)">
          Editar
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button
          expand="block"
          clear
          item-end
          color="danger"
          (click)="presentConfirm(item.id)"
        >
          Excluir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
