<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Bem vindo ao RDN Finance</h2>
    <p>Seu gestor de finanças pessoal</p>
  </ion-slide>
  <ion-slide>
    <img
      src="../../../assets/images/iconfinder_Artboard_1_1790664.png"
      alt="report"
    />
    <h2>Tenha total controle</h2>
    <p>Administre suas contas a pagar e a receber</p>
  </ion-slide>
  <ion-slide>
    <img src="../../../assets/images/iconfinder_6_1376009.png" alt="chart" />
    <h2>Acompanhe o gráfico</h2>
    <p>Veja o resumo diário, mensal ou anual de suas despesas.</p>
  </ion-slide>
</ion-slides>
